/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
}

window#waybar {
  background: rgba(34, 36, 54, 0.6);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - General rules for visible modules -- */

#battery,
#cpu,
#memory {
  color: #161320;
  margin: 0px;
  padding: 0 10px;
  transition: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 6px 0px;
}

/* Separation to the left */

#network {
  color: #161320;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the right */

#clock {
  color: #161320;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 0 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */

#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px;
  padding: 0px 6px;
}

#workspaces button {
  color: #B5E8E0;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #A6E3A1;
}

#workspaces button.active {
  color: #89B4FA;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: #89B4FA;
}

#workspaces button.active:hover {
}

/* Modules right */

#battery {
  background: #96CDFB;
}

#clock {
  background: #ABE9B3;
}

#cpu {
  background: #96CDFB;
}

#memory {
  background: #DDB6F2;
}

#network {
  background: #CBA6F7;
}

#taskbar {
  background: transparent;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

